header {
    border-bottom: 4px solid rgb(65, 65, 65);
}

table, td, th {
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

table {
    width: 500px;
}

section {
    margin-left: 200px;
}

h2 {
    color: blue;
}

.gray {
    background-color: rgb(194, 194, 194);
}

.red {
    color: red;
}

.green {
    color: rgb(26, 204, 26);
}

.italico {
    font-style: italic;
}